@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

.urdu-text {
  font-family: 'Noto Nastaliq Urdu', 'Inter', sans-serif;
  line-height: 1.8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Leaflet fix */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}
